.users{
	position: relative;
	width: 100%;
	min-height: 100%;
}
.users.load{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 70px;
}
.user{
	display: flex;
	align-items: center;
	margin: 0 0 20px 50px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.user__firstcolumn{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 15px 0 0;
}
.user__avatar{
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin: 0 0 10px;
	position: relative;
}
.user__secondcolumn{
	color: #555;
	border: 2px solid #999;
	border-radius: 15px;
	width: 550px;
	min-height: 70px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}
.user__info{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 400px;
}
.user__follow.disabled{
	background: #1d9165;
}
.user__name{
	font-weight: 700;
	font-size: 18px;
}
.user__status{
	font-size: 14px;
}
.user__location{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 120px;
	font-size: 14px;
}
.user__country{
	margin: 0 0 5px;
}
.paginator{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.paginator__button{
	flex: 0 0 20%;
	display: flex;
	justify-content: center;
}
.paginator__button button{
	color: #fff;
	background: #2BC48A;
	padding: 10px 20px;
	border-radius: 20px;
	transition: all 0.1s ease;
}
.paginator__button button:hover{
	background: #1d9165;
}
.paginator__pages{
	flex: 0 0 60%;
	display: flex;
	justify-content: center;
}
.paginator__pages button{
	background: none;
	border: 3px solid #2BC48A;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	margin-right: 5px;
	transition: all 0.1s ease;
}
.paginator__pages button:last-child{
	margin: 0;
}
.paginator__pages button:hover{
	background: #2BC48A;
	color: #fff;
}
.selected{
	color: #fff;
	background: #2BC48A !important;
}
